<div id="outer">
  <div id="heading-upload-image">Upload your image</div>
  <div id="heading-file-types">File should be Jpeg, Png,...</div>
  <div>
    <div>
      <div class="mb-4 d-flex justify-content-center">
          <img src="../../assets/image.svg" />
      </div>
      <div id="text-dragndrop">Drag & Drop your image here</div>
    </div>
    <div>Or</div>
    <div class="d-flex justify-content-center">
        <div class="btn btn-primary btn-rounded">
            <label class="form-label text-white m-1" for="customFile">Choose a file</label>
            <input type="file" class="form-control d-none" id="customFile" />
        </div>
    </div>
  </div>
</div>
